/* Typography */
$family-sans-serif: Source Sans Pro, Open Sans, sans-serif !default;
$render-robotto: Roboto !default;

/* Typography Sizes and Weights */

$base-font-size: 1rem !default;

$size-1: 0.875rem !default; // 14px For <p>,<li>,<h5>,<h6>

/* Color */
// Primary
$primary-black: #4e535a !default;

// Secondary
$secondary-gray: #96a3b5 !default;

// Shades of Colors
$shades-black-near: #262b31 !default;
